*{
    text-align: center;
}

.outer-div{
    display: flex;
    justify-content: center;
}

.btns{
    height: 150px;
    width: 150px;
    margin: 2rem;
    border-radius: 20%;
    border: 6px solid black;
    box-shadow: 2px 2px 8px black;
}

.green{
    background-color: #63aac0;
}

.red{
    background-color: #d95980;
}

.yellow{
    background-color: #f99b45;
}

.purple{
    background-color: #819ff9;
}

.flash{
    background-color: white;
}

.userflash{
    background-color: green;
}